
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  
  body {
    height: 100vh;
    background-color: #fff;
    padding: 2.5rem;
    display: flex;
  }
  
  #map {
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
  }

