
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  
  body {
    height: 100vh;
    background-color: #fff;
    padding: 2.5rem;
    display: flex;
  }
  
  #map {
    flex: 1;
    height: 100%;
    background-color: var(--color-light--1);
  }

  .leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-dark--1);
    color: var(--color-light--2);
    border-radius: 5px;
    padding-right: 0.6rem;
  }
  
  .leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
  }
  
  .leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-dark--1);
  }

  .marker1-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--2);
  }
  .marker2-popup .leaflet-popup-content-wrapper {
    border-left: 5px solid var(--color-brand--1);
  }